@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.header{
    background-color: #000;
    height:10vh;
}

.intro-head{
    line-height: 3.5rem;
}

@media(max-width:768px){
    .intro-head{
        font-size:2rem;
        line-height: 2.25rem;
    }
}
.landing-page{
    background-color:#000;
    height:80%;
}

.features-section{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#000;
}

.features{
    width:80%;
}

.feature-card{
    backdrop-filter: blur(108px) saturate(155%);
    -webkit-backdrop-filter: blur(1000px) saturate(155%);
    background-color: rgba(24, 24, 27, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.356);
}

.faq-section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

}

.faq{
    padding-top:1%;
    background-color: #000;
    width:80%;
    padding-bottom:4%;

}

.footer{
    background-color: #000000;
    padding:1rem;
}


.login-block{
    backdrop-filter: blur(108px) saturate(155%);
    -webkit-backdrop-filter: blur(1000px) saturate(155%);
    background-color: rgba(24, 24, 27, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    color:#fff;
}

@media(max-width:768px){
    .login-block{
        width:90%;
    }
}
