@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
    background-color: #000;
    height:10vh;
}

.landing-page{
    background-color:#000;
    height:80%;
}

.features-section{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#000;
}

.features{
    width:80%;
}

.feature-card{
    border:1px solid #ffffffad;
}

.faq-section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

}

.faq{
    padding-top:1%;
    background-color: #000;
    width:80%;
    padding-bottom:1%;
}
